[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "python-dotenv>=1.2.1",
    "uvicorn[standard]>=0.38.0",
    "python-slugify>=8.0.1",
    "fastapi>=0.117.1",
]
